* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    background: rgb(38, 38, 38);
    height: 1000vh;
    overflow: auto;
}

body::-webkit-scrollbar{
    width: 10px;
    background: transparent;
}

body::-webkit-scrollbar-thumb{
    border-radius: 10px;
    width: 10px;

    background-color: #9696967e;
}

.dropdown{
    display: none;
}

  
.StartPic{
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.7;
    filter: brightness(80%);

}

.travel{
    position: absolute;
    left: 25%;
    top: 5%;
    z-index: 1;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 1px;
    font-size: 170%;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));
    text-decoration: none;
    color: whitesmoke;
    transition-duration: 0.3s;
}

.travel:hover{
    text-decoration: underline;
}
.travel2:hover{
    text-decoration: underline;
}
.travel4:hover{
    text-decoration: underline;
}
.travel5:hover{
    text-decoration: underline;
}
.travel6:hover{
    text-decoration: underline;
}

.travel2{
    position: absolute;
    left: 39%;
    top: 5%;
    z-index: 1;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 1px;
    font-size: 170%;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));
    text-decoration: none;
    color: whitesmoke;
}

.travel4{
    position: absolute;
    left: 56%;
    top: 5%;
    z-index: 1;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 1px;
    font-size: 170%;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));
    text-decoration: none;
    color: whitesmoke;
}

.travel5{
    position: absolute;
    left: 70%;
    top: 5%;
    z-index: 1;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 1px;
    font-size: 170%;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));
    text-decoration: none;
    color: whitesmoke;
}

.travel6{
    position: absolute;
    left: 90%;
    top: 5%;
    z-index: 1;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 1px;
    font-size: 170%;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));
    text-decoration: none;
    color: whitesmoke;
}


.Title{
    color: whitesmoke;
    position: absolute;
    top: 25%;
    left: 30%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 3px;
    font-size: 900%;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));
    animation: flash 3s ease-in-out 1s infinite;
}

@keyframes flash{
    0%{
        text-shadow:none;
    }
    50%{
        text-shadow: rgb(255, 255, 255) 1px 0 50px;
    }
    100%{
        text-shadow:none;
    }
}


.SubTitle{
    color: whitesmoke;
    position: absolute;
    top: 48%;
    left: 29%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 3px;
    font-size: 170%;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));
    width: 40%;
    text-align: center;
}


.travel3 {
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 85%;
    left: 90%;
    background-color: #ebebeb45;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));;
    z-index: 2;
}

.BackSection {
    top: -100vh;
}

.arrow {
    border: solid rgba(0, 0, 0, 0.663);
    border-width: 0 10px 10px 0;
    border-radius: 5px;
    display: inline-block;
    padding: 3px;
    left: 21.5%;
    top: 32%;
    width: 30px;
    height: 30px;
    position: fixed;
    z-index: 2;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }


/*SECTION2*/

.Section2Line{
    position: absolute;
    width: 85%;
    height: 1px;
    top: 100%;
    left: 8%;
    background-color: rgb(155, 155, 155);
    z-index: 0;
}


#verse {
    position: absolute;
    top: 100vh;
    left: 22%;
    color: rgb(216, 216, 216);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 3px;
    font-size: 300%;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));
    white-space: nowrap;
    z-index: 1;
}


.DailyV{
    left: 15%;
    top: 10vh;
    position: absolute;
    color: whitesmoke;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 3px;
    font-size: 300%;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));
    white-space: nowrap;
    z-index: 1;
}

.SubV {
    position: absolute;
    top: 137%;
    left: 20%;
    color: whitesmoke;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 3px;
    font-size: 220%;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));
    width: 60%;
    text-align: center;
    line-height: 60px;
    z-index: 1;
}

textarea{
    position: absolute;
    top: 175%;
    left: 18%;
    width: 70%;
    height: 10%;
    padding: 0px 0px;
    margin: 0px 0;
    box-sizing: border-box;
    border-color: transparent;
    border-bottom: 2px solid rgb(255, 255, 255);
    font-size: 300%;
    background-color: transparent;
    color: whitesmoke;
    outline: none;
    resize: both;
    z-index: 1;
}
textarea::-webkit-scrollbar {
    display: none;
}

.BiblePic{
    top: 100%;
    width: 100%;
    height: 120%;
    position: absolute;
    z-index: 0;
    opacity: 0.5;
}
textarea::placeholder{
    color: #cbcbcb;
}


/*section3*/

.church{
    position: absolute;
    width: 100%;
    height: 130%;
    z-index: 0;
    top: 220%;
    opacity: 0.3;
}

.Section3Line{
    position: absolute;
    width: 85%;
    height: 1px;
    top: 220%;
    left: 8%;
    background-color: rgb(80, 80, 80);
    z-index: 1;
}

#quotes {
    position: absolute;
    top: 230vh;
    left: 25%;
    position: absolute;
    color: rgb(216, 216, 216);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 3px;
    font-size: 250%;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));
    white-space: nowrap;
    z-index: 1;
}

.RQuotes{
    left: 27%;
    top: 10vh;
    position: absolute;
    color: whitesmoke;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 3px;
    font-size: 300%;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));
    white-space: nowrap;
    z-index: 1;
}

.container {
    width: 85%;
	height: 400px;
  top: 265%;
  left: 8%;
  position: absolute;
  z-index: 1;
}
.header h2 {
    font-weight: 400;
    color: #fff;
}
.main-content {
	width: 100%;
	height: 300px;
	padding: 50px 40px;
	background-color: rgba(255, 255, 255, 0);
	border-radius: 15px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.text-area {
	text-align: center;
	font-size: 40px;
	color: #d3d3d3;
	line-height: 1.5;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.text-area .icon {
    margin-right: 5px;
}
.main-content .writer {
    text-transform: uppercase;
	letter-spacing: 5px;
	color: red;
	text-align: center;
	margin-top: 20px;
	font-size: 35px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	
}
.main-content .button-area {
	display: grid;
	place-items: center;
	margin-top: 20px;
	padding: 10px 0;
}
.button-area .btn button {
    background-color: #1c1c1c;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 10px 15px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.button-area button:active {
    background-color: deepskyblue;
}



/*FEAST DAYS SECTION 4*/

.Section4Line{
    position: absolute;
    width: 85%;
    height: 1px;
    top: 352%;
    left: 8%;
    background-color: rgb(80, 80, 80);
    z-index: 1;
}

.search{
    width: 40%;
    height: 10%;
    padding: 0px 0px;
    margin: 0px 0;
    box-sizing: border-box;
    border-color: transparent;
    background-color: transparent;
    border-bottom: 2px solid rgb(255, 255, 255);
    outline: none;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 410%;
    color: whitesmoke;
    font-size: 300%;
    z-index: 2;
}

.DateButton{
    top: 409%;
    left: 75%;
    position: absolute;
    z-index: 2;
    width: 10%;
    height: 6%;
    background-color: transparent;
    color: whitesmoke;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 200%;
    border-color: whitesmoke;
    border-radius: 10px;
    box-sizing: border-box;
}
p{
    top: 440%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    z-index: 2;
    color: whitesmoke;
    font-size: 400%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    justify-content: center;
}

#feast {
    position: absolute;
    top: 370vh;
    left: 28%;
    position: absolute;
    color: whitesmoke;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 3px;
    font-size: 500%;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));
    white-space: nowrap;
    z-index: 1;
}


.Eucharist{
    position: absolute;
    width: 100%;
    height: 130%;
    z-index: 0;
    top: 350%;
    opacity: 0.3;
}


/*SECTION5*/


.Section5Line{
    position: absolute;
    width: 85%;
    height: 1px;
    top: 480%;
    left: 8%;
    background-color: rgb(80, 80, 80);
    z-index: 1;
}


#MonthNov {
    position: absolute;
    top: 485vh;
    left: 17%;
    position: absolute;
    color: whitesmoke;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 3px;
    font-size: 500%;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));
    white-space: nowrap;
    z-index: 1;
}

.novena1Pic{
    position: absolute;
    width: 50%;
    height: 130%;
    z-index: 0;
    top: 480%;
    opacity: 0.5;
}

.novena2Pic{
    position: absolute;
    width: 50%;
    height: 130%;
    z-index: 0;
    top: 480%;
    left: 50%;
    opacity: 0.5;
}

.Novena1 {
    position: absolute;
    top: 525vh;
    left: 3%;
    text-align: center;
    color: whitesmoke;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 3px;
    font-size: 290%;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));
    white-space: nowrap;
    z-index: 1;
}

.Novena1A {
    position: absolute;
    top: 510vh;
    left: 20%;
    text-align: center;
    color: whitesmoke;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 3px;
    font-size: 300%;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));
    white-space: nowrap;
    z-index: 1;
    display: none;
}


.Novena1sub {
    position: absolute;
    top: 545vh;
    left: -10%;
    position: absolute;
    text-align: center;
    color: whitesmoke;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 3px;
    font-size: 220%;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));
    z-index: 1;
    width: 70%;
}

.Novena1subA {
    position: absolute;
    top: 520vh;
    left: 4%;
    position: absolute;
    text-align: center;
    color: whitesmoke;
    letter-spacing: 3px;
    font-size: 160%;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));
    z-index: 1;
    width: 40%;
    height: 60%;
    display: none;
    overflow: auto;

}

.Novena1subA::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    display: flex;
    background-color: transparent;
}

.Novena1subA::-webkit-scrollbar-thumb{
    border-radius: 10px;
    height: 5px;
    background: rgba(126, 126, 126, 0.518);
}

.Novena1Button{
    top: 570%;
    left: 20%;
    position: absolute;
    z-index: 2;
    width: 10%;
    height: 6%;
    background-color: transparent;
    color: whitesmoke;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 200%;
    border-color: whitesmoke;
    border-radius: 10px;
    transition: ease-in-out 0.5;
    box-sizing: border-box;
}

 

  

.Novena2 {
    position: absolute;
    top: 525vh;
    left: 55%;
    position: absolute;
    text-align: center;
    color: whitesmoke;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 3px;
    font-size: 290%;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));
    white-space: nowrap;
    z-index: 1;
}

.Novena2A {
    position: absolute;
    top: 510vh;
    left: 71%;
    text-align: center;
    color: whitesmoke;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 3px;
    font-size: 300%;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));
    white-space: nowrap;
    z-index: 1;
    display: none;
}


.Novena2sub {
    position: absolute;
    top: 545vh;
    left: 68%;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: whitesmoke;
    letter-spacing: 3px;
    font-size: 220%;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));
    white-space: nowrap;
    z-index: 1;
}

.Novena2subA {
    position: absolute;
    top: 520vh;
    left: 56%;
    width: 40%;
    height: 60%;
    position: absolute;
    text-align: center;
    color: whitesmoke;
    letter-spacing: 3px;
    font-size: 160%;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));
    z-index: 1;
    display: none;
    overflow: auto;
}

.Novena2subA::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    display: flex;
    background-color: transparent;
}

.Novena2subA::-webkit-scrollbar-thumb{
    border-radius: 10px;
    height: 5px;
    background: rgba(126, 126, 126, 0.518);
}

.Novena2Button{
    top: 570%;
    left: 70%;
    position: absolute;
    z-index: 2;
    width: 10%;
    height: 6%;
    background-color: transparent;
    color: whitesmoke;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 200%;
    border-color: whitesmoke;
    border-radius: 10px;
    box-sizing: border-box;
}

#Commentary {
    position: absolute;
    top: 620vh;
    left: 27%;
    color: rgb(216, 216, 216);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 3px;
    font-size: 400%;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));
    white-space: nowrap;
    z-index: 1;
}

.wine{
    width: 40%;
    height: 40%;
    border-radius: 5px;
    top: 650vh;
    left: 60vh;
    position: absolute;
}






@media only screen and (max-width: 400px){

    body{
        height: 650vh;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }

    .Title{
        text-align: center;
        font-size: 15vw;
        left: 10vw;
        top: 35vw;
        position: absolute;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }

    .SubTitle{
        text-align: center;
        width: 70%;
        left: 15vw;
        top: 65vw;
        font-size: 5vw;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }

    .StartPic{
        position: absolute;
        height: 180vw;
        object-fit: cover;
    }

    .Section2Line{
        top: 180vw;
    }

    .BiblePic{
        position: absolute;
        height: 230vw;
        object-fit: cover;
        top: 180vw;
    }

    #verse {
        position: absolute;
        top: 195vw;
        left: 23vw;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }

    .DailyV{
        position: absolute;
        font-size: 10vw;
        top: 10vw;
        left: -13vw;
        font-family:Georgia, 'Times New Roman', Times, serif;
        
    }

    .SubV{
        font-size: 5vw;
        top: 230vw;
        left: 12vw;
        width: 75vw;
        line-height: 40px;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }

    textarea{
        top: 330vw;
        height: 25vw;
    font-size: 10vw;
    }

    .church{
        position: absolute;
        height: 260vw;
        object-fit: cover;
        top: 400vw;
    }

    .Section3Line{
        top: 410vw;
    }

    #quotes {
        position: absolute;
        top: 420vw;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }

    .RQuotes{
        position: absolute;
        font-size: 9vw;
        top: 12vw;
        left: -15vw;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }

    .container{
        top: 450vw;
    }

    .text-area {
        text-align: center;
        font-size: 25px;
        color: #d3d3d3;
        line-height: 1.5;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }

    .main-content .writer {
        text-transform: uppercase;
        letter-spacing: 5px;
        color: red;
        text-align: center;
        margin-top: 20px;
        font-size: 25px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        
    }

    #feast{
        position: absolute;
        top: 700vw;
        left: 12%;
        position: absolute;
        color: whitesmoke;
        font-family:Georgia, 'Times New Roman', Times, serif;
        letter-spacing: 3px;
        font-size: 200%;
        filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));
        white-space: nowrap;
        z-index: 1;
        font-size: 7vw;
    }

    #test{
        left: 30%;
        top: 740vw;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }

    .Eucharist{
        height: 260vw;
        top: 660vw;
        object-fit: cover;
    }

    .DateButton{
        left: 65%;
        width: 30%;
        height: 6%;
        font-size: 150%;
        top: 739vw;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }

    p{
        font-size: 250%;
        top: 785vw;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }

    .Section5Line{
        top: 665vw;
    }

    .Section4Line{
        top: 900vw;
    }

    #MonthNov{
        font-size: 4.5vw;
        left: 10vw;
        top: 910vw;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }

    .novena1Pic{
        top: 900vw;
        width: 100%;
        height: 260vw;
        object-fit: cover;
    }

    .Novena1{
        font-size: 5vw;
        left: 5%;
        top: 940vw;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
    .Novena1A{
        font-size: 12vw;
        left: 36%;
        top: 935vw;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }

    .Novena1sub{
        font-size: 120%;
        left: 17%;
        top: 960vw;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
    .Novena1subA{
        font-size: 100%;
        left: 5%;
        top: 960vw;
        width: 90%;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }

    .Novena1Button{
        top: 980vw;
        width: 20%;
        height: 6%;
        left: 42vw;
        font-size: 5vw;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }

    .novena2Pic{
        top: 1161vw;
        left: 0%;
        width: 100%;
        height: 260vw;
        object-fit: cover;
    }

    .Novena2{
        font-size: 4.5vw;
        left: 7vw;
        top: 1180vw;
        text-align: center;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
    .Novena2A{
        font-size: 12vw;
        left: 36vw;
        top: 1180vw;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }

    .Novena2sub{
        font-size: 4.5vw;
        left: 32vw;
        top: 1200vw;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
    .Novena2subA{
        font-size: 4vw;
        left: 4%;
        top: 1200vw;
        width: 90%;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }

    .Novena2Button{
        top: 1225vw;
        width: 20%;
        height: 6%;
        left: 42vw;
        font-size: 5vw;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }

    .Section6Line{
        position: absolute;
        width: 85%;
        height: 1px;
        top: 1161vw;
        left: 8%;
        background-color: rgb(80, 80, 80);
        z-index: 1;
    }

    #back{
        left: 80vw;
        top: 100vw;
    }

    .travel3{
        left: 80.5vw;
    }

    .arrow{
        left: 83%;
        top: 87%;
    }

    .travel{
        display: none;
    }

    .travel2{
        display: none;
    }

    .travel4{
        display: none;
    }

    .travel5{
        display: none;
    }

    /* dropdown Button */
 .dropbtn {
    background-color: #00000058;
    color: white;
    padding: 22px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #d6d6d652;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown{
    position: absolute;
    z-index: 2;
    left: 87%;
    top: 3%;
    display: flex;
  }


  .line1{
    position: absolute;
    background-color: white;
    width: 20px;
    height: 3px;
    z-index: 2;
    top: 14px;
    left: 28%;
    border-radius: 20%;
  }

  .line2{
    position: absolute;
    background-color: white;
    width: 20px;
    height: 3px;
    z-index: 2;
    top: 20px;
    left: 28%;
    border-radius: 20%;
  }

  .line3{
    position: absolute;
    background-color: white;
    width: 20px;
    height: 3px;
    z-index: 2;
    top: 26px;
    left: 28%;
    border-radius: 20%;
  }

  
  /* dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: -264%;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

}
