* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {

}

.homePage{
  font-size: 1.2vw;
  position: absolute;
  text-decoration: none;
  color: whitesmoke;
  top: 1.5vh;
  left: 1vw;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.slider1 {
  font-family: sans-serif;
  scroll-snap-type: x mandatory;  
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  background-color: rgb(16, 11, 56);
}

.slider2 {
  font-family: sans-serif;
  scroll-snap-type: x mandatory;  
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  background-color: rgb(67, 29, 103);
}

.slider3 {
  font-family: sans-serif;
  scroll-snap-type: x mandatory;  
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  background-color: rgb(29, 85, 103);
}

.slider4 {
  font-family: sans-serif;
  scroll-snap-type: x mandatory;  
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  background-color: rgb(71, 19, 64);
}

.slider5 {
  font-family: sans-serif;
  scroll-snap-type: x mandatory;  
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  background-color: rgb(103, 29, 54);
}

.slider6 {
  font-family: sans-serif;
  scroll-snap-type: x mandatory;  
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  background-color: rgb(43, 94, 98);
}

.slider7 {
  font-family: sans-serif;
  scroll-snap-type: x mandatory;  
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  background-color: rgb(151, 148, 96);
}

.slider8 {
  font-family: sans-serif;
  scroll-snap-type: x mandatory;  
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  background-color: rgb(99, 113, 171);
}


.slider9 {
  font-family: sans-serif;
  scroll-snap-type: x mandatory;  
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  background-color: rgb(171, 99, 123);
}

.slider10 {
  font-family: sans-serif;
  scroll-snap-type: x mandatory;  
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  background-color: rgb(99, 171, 142);
}

.slider11 {
  font-family: sans-serif;
  scroll-snap-type: x mandatory;  
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  background-color: rgb(145, 99, 171);
}

p{
  position: absolute;
  text-align: center;
  color: #d3d3d3;
  width: 80vw;
  left: 10vw;
  font-size: 1.5vw;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.bottomVerse{
  position: absolute;
  top: 45vw;
  text-align: center;
  color: #d3d3d3;
  width: 80vw;
  left: 10vw;
  font-size: 1.5vw;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.swipeLeft{
  position: absolute;
  top: 45vw;
  text-align: center;
  color: #d3d3d3;
  width: 80vw;
  left: 10vw;
  font-size: 1vw;
  font-family:Georgia, 'Times New Roman', Times, serif;
}


textarea{
  position: absolute;
  top: 10vw;
  left: 10vw;
  width: 35vw;
  height: 50vh;
  font-size: 2vw;
  font-family:Georgia, 'Times New Roman', Times, serif;
  background: transparent;
  color: #d3d3d3;
  border-color: transparent;
  text-align: center;
  outline: none;
  overflow: auto;
}

img{
  position: absolute;
  top: 10vw;
  left: 62vw;
  width: 25vw;
  height: 50vh;
}

textarea::placeholder{
  color: #ababab;
}


section {
  border-right: 1px solid whitesmoke;
  padding: 1rem;
  min-width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  text-align: center;
  position: relative;

}
h1  {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #d3d3d3;
  width: 80vw;
  left: 10vw;
  font-size: 2vw;
  font-family:Georgia, 'Times New Roman', Times, serif;
}


body::-webkit-scrollbar{
  width: 10px;
  background: transparent;
}

body::-webkit-scrollbar-thumb{
  border-radius: 10px;
  width: 10px;
  background-color: #9696967e;
}



/* MOBILE VIEW */



@media only screen and (max-width: 400px){

  .homePage{
    top: 3vh;
    left: 2vw;
    font-size: 3vw;
  }

  p{
    top: 7vh;
    font-size: 5vw;
  }

  h1{
    font-size: calc(1vw + 3.5vw);
  }

  .swipeLeft{
    top: 85vh;
    font-size: 4vw;
  }

  img{
    display: none;
  }

  .bottomVerse{
    top: 85vh;
    font-size: 4vw;
  }

  textarea{
    top: 20vh;
    left: 10vw;
    font-size: calc(1vw + 6vw);
    width: 80%;
  }


}